@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
a {
  color: grey;
  cursor: pointer;
  text-decoration: none;
}
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px;
  margin: auto 4px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  display: flex;
  padding: 18px;
  flex-direction: row;
}
.footer {
  display: flex;
  flex: 1;
  justify-content: baseline;
  align-items: flex-end;
  padding: 18px;
  flex: 0;
  background-color: #eee;
}
.right-links {
  margin-left: auto;
}
ul {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0;
}

li {
  display: flex;
  text-decoration: none;
  gap: 8px;
  text-align: -webkit-match-parent;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}
